# 2025.07.15 추가 전처리

In [1]:
import pandas as pd

# 1) CSV 파일 로드
df_cnn = pd.read_csv('data/CNN.csv')
df_bbc = pd.read_csv('data/BBC.csv')

In [2]:
df_cnn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   search_headline  532 non-null    object
 1   url              532 non-null    object
 2   title            532 non-null    object
 3   authors          151 non-null    object
 4   year             532 non-null    object
 5   content          532 non-null    object
 6   date             532 non-null    int64
dtypes: int64(1), object(6)
memory usage: 29.2+ KB

In [3]:
df_bbc.head()

,title,date,content,url,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Why mature dating apps are coming of age,01-Jan-20,Is your new year's resolution to find true lov...,https://www.bbc.com/news/business-50407218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AI 'outperforms' doctors diagnosing breast cancer,02-Jan-20,Artificial intelligence is more accurate than ...,https://www.bbc.com/news/health-50857759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'Outdated' IT leaves NHS staff with 15 differe...,04-Jan-20,IT systems in the NHS are so outdated that sta...,https://www.bbc.com/news/health-50972123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CES 2020: Preview of tomorrow's tech on show i...,04-Jan-20,How much tech can you take? Next week aims to ...,https://www.bbc.com/news/technology-50952021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tech Tent - tech trends for 2020,04-Jan-20,"Will we start the journey to a better, kinder ...",https://www.bbc.com/news/technology-50987534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# 2) 사용할 칼럼만 남기기
keep_cols = ['title', 'content', 'date']
df_cnn = df_cnn[keep_cols].copy()
df_bbc = df_bbc[keep_cols].copy()

# 3) date → 연도만 남기기
# 1) datetime으로 파싱 (day-month_abbrev-two_digit_year)
df_bbc['date'] = pd.to_datetime(df_bbc['date'], format='%d-%b-%y', errors='coerce')

# 2) 연도만 추출
df_bbc['date'] = df_bbc['date'].dt.year

# 4) affiliation 컬럼 추가
df_cnn['affiliations'] = 'CNN'
df_bbc['affiliations'] = 'BBC'

# 5) 두 데이터 합치기
df_all = pd.concat([df_cnn, df_bbc], ignore_index=True)

# 7) 결과 확인
print(df_all.columns)
print(df_all.head())

Index(['title', 'content', 'date', 'affiliations'], dtype='object')
                                               title  \
0  Microsoft, OpenAI and Anthropic are investing ...
1  Here’s how Character.AI’s new CEO plans to add...
2  Will a dice-playing robot eventually make you ...
3  Elon Musk isn’t happy with his AI chatbot. Exp...
4  State regulator: Proposed 10-year moratorium o...

                                             content    date affiliations
0  A group of leading tech companies is teaming u...  2025.0          CNN
1  When Karandeep Anand’s 5-year-old daughter get...  2025.0          CNN
2  AlphaBot 2 wants to beat humans at their own g...  2025.0          CNN
3  Last week, Grok, the chatbot from Elon Musk’s ...  2025.0          CNN
4  A measure tucked in President Donald Trump’s s...  2025.0          CNN

In [5]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3075 non-null   object
 1   content       3062 non-null   object
 2   date          3074 non-null   float64
 3   affiliations  3075 non-null   object
dtypes: float64(1), object(3)
memory usage: 96.2+ KB

In [6]:
import pandas as pd

# 예: 이미 df_all 이라는 DataFrame이 준비됐다고 가정
df = df_all.copy()

# 1) title, content, date 중 null이 하나라도 있는 행 제거
df = df.dropna(subset=['title', 'content', 'date'])

# 2) title, content, date 가 모두 같은 중복 행 제거 (첫 번째만 유지)
df = df.drop_duplicates(subset=['title', 'content', 'date'], keep='first')

# 3) 인덱스 재정렬 (옵션)
df = df.reset_index(drop=True)

# 결과 확인
print(df.shape)
print(df.head())

(2749, 4)
                                               title  \
0  Microsoft, OpenAI and Anthropic are investing ...
1  Here’s how Character.AI’s new CEO plans to add...
2  Will a dice-playing robot eventually make you ...
3  Elon Musk isn’t happy with his AI chatbot. Exp...
4  State regulator: Proposed 10-year moratorium o...

                                             content    date affiliations
0  A group of leading tech companies is teaming u...  2025.0          CNN
1  When Karandeep Anand’s 5-year-old daughter get...  2025.0          CNN
2  AlphaBot 2 wants to beat humans at their own g...  2025.0          CNN
3  Last week, Grok, the chatbot from Elon Musk’s ...  2025.0          CNN
4  A measure tucked in President Donald Trump’s s...  2025.0          CNN

In [7]:
df.to_csv('data/additional.csv', index=False, encoding='utf-8')

In [8]:
import pandas as pd

df=pd.read_csv('data/02_article_2020_2025.csv')
add=pd.read_csv('data/additional.csv')
add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749 entries, 0 to 2748
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2749 non-null   object
 1   content       2749 non-null   object
 2   date          2749 non-null   float64
 3   affiliations  2749 non-null   object
dtypes: float64(1), object(3)
memory usage: 86.0+ KB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7604 entries, 0 to 7603
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         7604 non-null   object
 1   date          7604 non-null   int64
 2   content       7604 non-null   object
 3   keywords      7604 non-null   object
 4   affiliations  7604 non-null   object
dtypes: int64(1), object(4)
memory usage: 297.2+ KB

In [10]:
df=pd.concat([df, add], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         10353 non-null  object
 1   date          10353 non-null  float64
 2   content       10353 non-null  object
 3   keywords      7604 non-null   object
 4   affiliations  10353 non-null  object
dtypes: float64(1), object(4)
memory usage: 404.5+ KB

In [11]:
df.to_csv('data/03_article_2020_2025.csv', index=False, encoding='utf-8')