# 2025.07.15 추가 전처리

In [1]:
import pandas as pd

# 1) CSV 파일 로드
df_cnn = pd.read_csv('data/CNN.csv')
df_bbc = pd.read_csv('data/BBC.csv')

In [2]:
df_cnn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   search_headline  532 non-null    object
 1   url              532 non-null    object
 2   title            532 non-null    object
 3   authors          151 non-null    object
 4   year             532 non-null    object
 5   content          532 non-null    object
 6   date             532 non-null    int64
dtypes: int64(1), object(6)
memory usage: 29.2+ KB

In [3]:
df_bbc.head()

,title,date,content,url,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Why mature dating apps are coming of age,01-Jan-20,Is your new year's resolution to find true lov...,https://www.bbc.com/news/business-50407218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AI 'outperforms' doctors diagnosing breast cancer,02-Jan-20,Artificial intelligence is more accurate than ...,https://www.bbc.com/news/health-50857759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'Outdated' IT leaves NHS staff with 15 differe...,04-Jan-20,IT systems in the NHS are so outdated that sta...,https://www.bbc.com/news/health-50972123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CES 2020: Preview of tomorrow's tech on show i...,04-Jan-20,How much tech can you take? Next week aims to ...,https://www.bbc.com/news/technology-50952021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Tech Tent - tech trends for 2020,04-Jan-20,"Will we start the journey to a better, kinder ...",https://www.bbc.com/news/technology-50987534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:

# 2) 사용할 칼럼만 남기기
keep_cols = ['title', 'content', 'date']
df_cnn = df_cnn[keep_cols].copy()
df_bbc = df_bbc[keep_cols].copy()

# 3) date → 연도만 남기기
# 1) datetime으로 파싱 (day-month_abbrev-two_digit_year)
df_bbc['date'] = pd.to_datetime(df_bbc['date'], format='%d-%b-%y', errors='coerce')

# 2) 연도만 추출
df_bbc['date'] = df_bbc['date'].dt.year

# 4) affiliation 컬럼 추가
df_cnn['affiliations'] = 'CNN'
df_bbc['affiliations'] = 'BBC'

# 5) 두 데이터 합치기
df_all = pd.concat([df_cnn, df_bbc], ignore_index=True)

# 7) 결과 확인
print(df_all.columns)
print(df_all.head())

Index(['title', 'content', 'date', 'affiliations'], dtype='object')
                                               title  \
0  Microsoft, OpenAI and Anthropic are investing ...
1  Here’s how Character.AI’s new CEO plans to add...
2  Will a dice-playing robot eventually make you ...
3  Elon Musk isn’t happy with his AI chatbot. Exp...
4  State regulator: Proposed 10-year moratorium o...

                                             content    date affiliations
0  A group of leading tech companies is teaming u...  2025.0          CNN
1  When Karandeep Anand’s 5-year-old daughter get...  2025.0          CNN
2  AlphaBot 2 wants to beat humans at their own g...  2025.0          CNN
3  Last week, Grok, the chatbot from Elon Musk’s ...  2025.0          CNN
4  A measure tucked in President Donald Trump’s s...  2025.0          CNN

In [5]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3075 entries, 0 to 3074
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3075 non-null   object
 1   content       3062 non-null   object
 2   date          3074 non-null   float64
 3   affiliations  3075 non-null   object
dtypes: float64(1), object(3)
memory usage: 96.2+ KB

In [6]:
import pandas as pd

# 예: 이미 df_all 이라는 DataFrame이 준비됐다고 가정
df = df_all.copy()

# 1) title, content, date 중 null이 하나라도 있는 행 제거
df = df.dropna(subset=['title', 'content', 'date'])

# 2) title, content, date 가 모두 같은 중복 행 제거 (첫 번째만 유지)
df = df.drop_duplicates(subset=['title', 'content', 'date'], keep='first')

# 3) 인덱스 재정렬 (옵션)
df = df.reset_index(drop=True)

# 결과 확인
print(df.shape)
print(df.head())

(2749, 4)
                                               title  \
0  Microsoft, OpenAI and Anthropic are investing ...
1  Here’s how Character.AI’s new CEO plans to add...
2  Will a dice-playing robot eventually make you ...
3  Elon Musk isn’t happy with his AI chatbot. Exp...
4  State regulator: Proposed 10-year moratorium o...

                                             content    date affiliations
0  A group of leading tech companies is teaming u...  2025.0          CNN
1  When Karandeep Anand’s 5-year-old daughter get...  2025.0          CNN
2  AlphaBot 2 wants to beat humans at their own g...  2025.0          CNN
3  Last week, Grok, the chatbot from Elon Musk’s ...  2025.0          CNN
4  A measure tucked in President Donald Trump’s s...  2025.0          CNN

In [7]:
df.to_csv('data/additional.csv', index=False, encoding='utf-8')

In [8]:
import pandas as pd

df=pd.read_csv('data/02_article_2020_2025.csv')
add=pd.read_csv('data/additional.csv')
add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2749 entries, 0 to 2748
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2749 non-null   object
 1   content       2749 non-null   object
 2   date          2749 non-null   float64
 3   affiliations  2749 non-null   object
dtypes: float64(1), object(3)
memory usage: 86.0+ KB

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7604 entries, 0 to 7603
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         7604 non-null   object
 1   date          7604 non-null   int64
 2   content       7604 non-null   object
 3   keywords      7604 non-null   object
 4   affiliations  7604 non-null   object
dtypes: int64(1), object(4)
memory usage: 297.2+ KB

In [10]:
df=pd.concat([df, add], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         10353 non-null  object
 1   date          10353 non-null  float64
 2   content       10353 non-null  object
 3   keywords      7604 non-null   object
 4   affiliations  10353 non-null  object
dtypes: float64(1), object(4)
memory usage: 404.5+ KB

In [11]:
df.to_csv('data/03_article_2020_2025.csv', index=False, encoding='utf-8')

# 2025.07.18 추가 수집 및 전처리
# wallstreet, nyt preprocesiing

In [21]:
import pandas as pd
wall=pd.read_csv('data/wallstreet_content.csv')
nyt=pd.read_csv('data/nyt_content.csv')

In [22]:
wall.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1593 entries, 0 to 1592
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    1593 non-null   object
 1   link     1593 non-null   object
 2   date     962 non-null    object
 3   media    962 non-null    object
 4   content  962 non-null    object
dtypes: object(5)
memory usage: 62.4+ KB

In [23]:
nyt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2780 entries, 0 to 2779
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    2780 non-null   object
 1   link     2780 non-null   object
 2   date     858 non-null    object
 3   media    858 non-null    object
 4   content  770 non-null    object
dtypes: object(5)
memory usage: 108.7+ KB

In [24]:
import re

# 2) 사용할 칼럼만 남기기
keep_cols = ['title', 'content', 'date','media']
wall = wall[keep_cols].copy()
nyt = nyt[keep_cols].copy()

# 5) 두 데이터 합치기
df_all = pd.concat([wall, nyt], ignore_index=True)

df_all=df_all.rename(columns={'media': 'affiliations'})

# date 컬럼에서 연도만 추출
df_all['date'] = df_all['date'].astype(str).apply(lambda x: re.search(r'\b(19|20)\d{2}\b', x).group() if re.search(r'\b(19|20)\d{2}\b', x) else '')

# 7) 결과 확인
print(df_all.columns)
print(df_all.info())

Index(['title', 'content', 'date', 'affiliations'], dtype='object')
                                               title  \
0  ArtificialIntelligence(A Special Report) --- H...
1  ArtificialIntelligence(A Special Report) --- T...
2  ArtificialIntelligence(A Special Report) --- F...
3  Crunchbase UsesArtificialIntelligenceTo Predic...
4  On the Clock: Bosses' Mental Fitness Set for A...

                                             content  date  \
0  The current generation of college students is ...  2024
1  ChatGPT is barely two years old. And yet it's ...  2024
2  The race for AI dominance launched a stampede ...  2025
3  Crunchbase, the firm best known for its startu...  2025
4  Bosses already live in fear that a verbal miss...  2024

          affiliations
0  Wall Street Journal
1  Wall Street Journal
2  Wall Street Journal
3  Wall Street Journal
4  Wall Street Journal

In [25]:
import pandas as pd

# 예: 이미 df_all 이라는 DataFrame이 준비됐다고 가정
df = df_all.copy()

# 1) title, content, date 중 null이 하나라도 있는 행 제거
df = df.dropna(subset=['title', 'content', 'date'])

# 2) title, content, date 가 모두 같은 중복 행 제거 (첫 번째만 유지)
df = df.drop_duplicates(subset=['title', 'content', 'date'], keep='first')

# 3) 인덱스 재정렬 (옵션)
df = df.reset_index(drop=True)

# 결과 확인
print(df.shape)
print(df.head())

(1731, 4)
                                               title  \
0  ArtificialIntelligence(A Special Report) --- H...
1  ArtificialIntelligence(A Special Report) --- T...
2  ArtificialIntelligence(A Special Report) --- F...
3  Crunchbase UsesArtificialIntelligenceTo Predic...
4  On the Clock: Bosses' Mental Fitness Set for A...

                                             content  date  \
0  The current generation of college students is ...  2024
1  ChatGPT is barely two years old. And yet it's ...  2024
2  The race for AI dominance launched a stampede ...  2025
3  Crunchbase, the firm best known for its startu...  2025
4  Bosses already live in fear that a verbal miss...  2024

          affiliations
0  Wall Street Journal
1  Wall Street Journal
2  Wall Street Journal
3  Wall Street Journal
4  Wall Street Journal

In [26]:
df.to_csv('data/additional_nyt_wall.csv', index=False, encoding='utf-8')

# 이전 데이터 까보기

In [27]:
import pandas as pd
df=pd.read_csv('data/industry_dataset(the verge, techcrunch, bbc, cnn, the guardian).csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12301 entries, 0 to 12300
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         12301 non-null  object
 1   date          12301 non-null  float64
 2   content       12301 non-null  object
 3   affiliations  12301 non-null  object
 4   keywords      7604 non-null   object
dtypes: float64(1), object(4)
memory usage: 480.6+ KB

In [28]:
df2=pd.read_csv('data/additional_nyt_wall.csv')
df_all=pd.concat([df2, df], ignore_index=True)

In [29]:
print(df_all.value_counts(subset='date'))

date
2024.0    4471
2023.0    3604
2025.0    3597
2022.0     823
2021.0     776
2020.0     761
Name: count, dtype: int64

In [30]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14032 entries, 0 to 14031
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         14032 non-null  object
 1   content       14032 non-null  object
 2   date          14032 non-null  float64
 3   affiliations  14032 non-null  object
 4   keywords      7604 non-null   object
dtypes: float64(1), object(4)
memory usage: 548.3+ KB

In [31]:
df_all.to_csv('data/04_article_2020_2025.csv', index=False, encoding='utf-8')

In [32]:
df=pd.read_csv('data/04_article_2020_2025.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14032 entries, 0 to 14031
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         14032 non-null  object
 1   content       14032 non-null  object
 2   date          14032 non-null  float64
 3   affiliations  14032 non-null  object
 4   keywords      7604 non-null   object
dtypes: float64(1), object(4)
memory usage: 548.3+ KB

In [33]:
df.head()

,title,content,date,affiliations,keywords
0,ArtificialIntelligence(A Special Report) --- H...,The current generation of college students is ...,2024.0,Wall Street Journal,NaN
1,ArtificialIntelligence(A Special Report) --- T...,ChatGPT is barely two years old. And yet it's ...,2024.0,Wall Street Journal,NaN
2,ArtificialIntelligence(A Special Report) --- F...,The race for AI dominance launched a stampede ...,2025.0,Wall Street Journal,NaN
3,Crunchbase UsesArtificialIntelligenceTo Predic...,"Crunchbase, the firm best known for its startu...",2025.0,Wall Street Journal,NaN
4,On the Clock: Bosses' Mental Fitness Set for A...,Bosses already live in fear that a verbal miss...,2024.0,Wall Street Journal,NaN